.navbar-brand {
  color: rgb(0, 0, 0) !important;
  font-size: 45px;
  margin: 0px;
}

.nav-link {
  color: rgb(0, 0, 0) !important;
  font-size: 25px;
  margin: 0px;
}

.navbar {
  background-color: rgb(240, 240, 240);
}

.navbar.toggle,
.navbar.collapse {
  color: red !important;
}
