.carousel {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.carousel .carousel-inner {
  height: 100%;
}

.carousel .carousel-inner img {
  display: block;
  object-fit: cover;
}

.caption {
  color: rgb(255, 255, 255) !important;
  filter: drop-shadow(16px 0px 10px black);
  font-size: 15px;
}
