@font-face {
  font-family: old-sans-black;
  src: local('Old Sans Black'),
    url(../public/Fonts/OldSansBlack.ttf) format('truetype');
}

* {
  font-family: old-sans-black;
  box-sizing: border-box;
  text-transform: uppercase;
}

.container {
  text-align: center;
  width: 40%;
  padding: 5px;
}

.dark-mode {
  background-color: black;
  color: white;
}

h1,
p {
  padding: 15px;
  margin: 10px;
}
